body {
    background-image: linear-gradient(to right, lightseagreen, lightblue);
}

div {
    background-color: darkcyan;
    border: white solid 2px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    margin-left: 1%;
    margin-bottom: 1%;
    background: white;
    width: 96.6%;
    font-size: 24px;
}

ul {
    background: lightgrey;
    list-style-type: none;
    padding: 0%;
    margin: 0px; 
}
ul li {
    font-size: 24px;
    padding: 4px; 
    border: white solid 2px;
    cursor: pointer;
}
span.delete {
    font-size: 16px;
    color: red;
}
span.text {
    color: black;
}
li.done > span.text {
    color: gray;
    text-decoration: line-through;
}